.link {
  width: 400px;
  text-decoration: none;
  color: rgb(2, 2, 2);
}

.card {
  background-color: rgb(236, 233, 233);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.card:hover {
  scale: 1.03;
}
